/* -------------------------- */
/* UPLO OVERLAY               */
/* -------------------------- */

/*  Overlay (background) */
.uplo-overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 100%;
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 1); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    /*transition: 0.4s;*/ /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.uplo-overlay-content {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.uplo-overlay-img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.uplo-canvas {
    /*background: red;*/
}

@media screen and (max-width: 550px) {
  .uplo-canvas-cont {
      width: 100%;
      padding: 0px;
  }
}

.uplo-overlay-content button {
    margin-top: 5px;
    color: #AAA;
    width: 120px;
}

.uplo-overlay-btn-icon {
    padding-right: 5px;
}

/*  Overlay (background) */
.uplo-overlay-spinner {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 100%;
    display: none;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 1); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
}
.spinner-cont{
  padding-top: 60px;
}

.spinner {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #aaa;
  background: -moz-linear-gradient(left, #aaa 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #aaa 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #aaa 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #aaa 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #aaa 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: spin3 1.4s infinite linear;
  animation: spin3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.spinner:before {
  width: 50%;
  height: 50%;
  background: #aaa;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.spinner:after {
  background: #000000;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes spin3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.spinner-text {
    text-align: center;
    color: #aaa;
    font-size: 15px;
}


