.header {
    z-index: 1;
    height:70px;
    background:#464059;
    position:fixed;
    width:100%;
    margin:0px auto;
    box-shadow: 0px 3px 3px grey;
}

.header-icon-bar {
    margin-top: 12px;
}

.header-icon {
    color: #ffffff;
    /*text-shadow: 3px 3px 3px #2e2a3a;*/
    margin-left: 50px;
}

.content {
    z-index: -1;
    padding-top: 70px; /*Must be Header Height*/
    /*height: 2000px;*/ /*TEST FOR SCROLLING */
}
